@import '@usegrand/azta-css/azta.min.css' layer(base);
@import 'tailwindcss';

@font-face {
    font-family: "Unixel";
    src: url("/font/unixel-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Unixel";
}