@import '@usegrand/azta-css/azta.min.css' layer(base);
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: "Unixel";
    src: url("/font/unixel-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@layer base {
    * {
        @apply tracking-normal;
    }

    body {
        @apply bg-stone-950 text-stone-50;
        font-family: "Unixel";
    }
}